.video_sidebar {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 15px;
}

.video_sidebar.button {
  padding: 20px;
  text-align: center;
}

.commentText {
  padding: 10px 0 10px 50px;
}

.count_number {
  text-align: center;
}

.send_comment_button {
  color: #fff;
  background-color: #23d5ab;
  height: 23px;
  width: 40px;
  border: 2px solid #23a6d5;
  border-radius: 4px;
  transform: translate(2px, -2.5px);
  cursor: pointer;
}

.send_comment_button:hover {
  background-color: #23a6d5;
}